@model IEnumerable<poligramvc.Models.Consultas>

@{
    ViewBag.Title = "IndexAsociar";
}

@using (Html.BeginForm("IndexAsociarPol", "AsociarPol", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Asociacion de Evaluados
        </div>
        <div class="panel-body">
            <div class="ibox-content">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Seleccione una fecha o ingrese una fecha válida</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="fecha" name="fecha" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <th>IdH</th>
            <th>IdE</th>
            <th>Evaluado</th>
            <th>Evaluacion</th>
            <th>Fecha</th>
            <th>Dependencia</th>
            <th>Foto</th>
            <th>Poligrafista</th>
            <th>Acciones</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @*@Html.HiddenFor(modelItem => item.curp)*@
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.evaluado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.evaluacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dependencia)
                        </td>
                        <td>
                            @*<img src="@Url.Content("~/ImgEval/" + @item.IdH + ".jpg")" width="100" height="120" />*@
                            <img width="100" height="120" src="@Url.Action("convertirImagen", "Evaluacion", new { _IdH = item.IdH })" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioSise)
                        </td>
                        <td>
                            @if (@item.Hay == 0)
                            {
                                @Html.Hidden("IdHN")
                                <input id="ASO" name="ASO" type="button" class="btn btn-primary demo2" value="ASOCIAR" onclick="editar(@item.IdH)" />
                            }
                            else
                            {
                                <p>Evaluacion Asociada</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-refresh modal-icon"></i>
                    <h4 class="modal-title">Asociación de Poligrafista</h4>
                    <small class="font-bold">Para expedientes que aún no han sido iniciados</small>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Elija un poligrafista</label>
                        @Html.DropDownList("idpol", ViewData["poligrafistas"] as SelectList, new { @id = "idpol", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Elija un Cubículo</label>
                        @Html.DropDownList("opcionCubo", (IEnumerable<SelectListItem>)ViewBag.losCubos, "Seleccione un Cubo", new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="asociar();">Asociar</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @*CSS*@
    <link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    @*JS*@
    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/js-asociar.js"></script>

    <script language="javascript">
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd/mm/yyyy"
        });

        function asociar() {
            var _idh = $("#IdHN").val();
            var _poli = $("#idpol").val();
            var _sup = "";
            var _cub = $("#opcionCubo").val();

            //alert(_idh + ' ' + _poli);

            $.ajaxSetup({ async: true });

            $.post("js_asociar", { p_idHistorico: _idh, p_idEvaluador: _poli, p_idSupervisor: _sup, p_nCubiculo: _cub }, function (data) {
                if (data == "SESION_EXPIRED") { showReiniciarSesion(); }
                else if (data == "Ok") {
                    $('#myModal').modal('hide');
                    swal({
                        title: "Evaluado Asociado / Actualizado",
                        text: "F5 Actualizar ventana",
                        type: "success"
                    });
                }
                else { showMessage("Ocurrio un error, intente de nuevo.", "#msgBandeja", "danger", "warning"); }
            })
                .fail(function (result) {
                    showMessage("Ocurrio un error:" + result.statusText + ", intente de nuevo. ", "#msgBandeja", "danger", "warning");
                });
        }

    </script>
}