@model IEnumerable<poligramvc.Models.Admision>

@{
    ViewBag.Title = "IndexAdmision";
}

@using (Html.BeginForm("IndexAdmision", "Admisiones", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Busqueda Evaluados para obtener Admisiones
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.TextBox("valor", "", new { @class = "form-control", placeholder = "Paterno Materno Nombre - Codigo" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
                <thead>
                    <tr>
                        <th>IdH</th>
                        <th>IdE</th>
                        <th>IdHp</th>
                        <th>Evaluado</th>
                        <th>Evaluacion</th>
                        <th>F Pol</th>
                        <th>Est</th>
                        <th>Dx</th>
                        <th>Dependencia</th>
                        <th>AP</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.idh)</td>
                            <td>@Html.DisplayFor(modelItem => item.ide)</td>
                            <td>@Html.DisplayFor(modelItem => item.idhp)</td>
                            <td>@Html.DisplayFor(modelItem => item.evaluado)</td>
                            <td>@Html.DisplayFor(modelItem => item.evaluacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.fechaEvaluacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.estatus)</td>
                            <td>@Html.DisplayFor(modelItem => item.dx)</td>
                            <td>@Html.DisplayFor(modelItem => item.dependencia)</td>
                            <td>@Html.DisplayFor(modelItem => item.ap)</td>
                            <td>
                                <img width="100" height="120" src="@Url.Action("convertirImagen", "Evaluacion", new { _IdH = item.idh })" />
                            </td>
                            <td style="text-align:center">
                                @if (item.id == 0)
                                {
                                    <p>
                                        @Html.ActionLink("Agregar Verificación", "AgregarVerificacion", new { idh = item.idh, idhp = item.idhp }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-primary btn-xs" })
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @Html.ActionLink("Editar Verificación", "AgregarVerificacion", new { idh = item.idh, idhp = item.idhp }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-primary btn-xs" })
                                    </p>
                                    <p>
                                        <a class="popup btn btn-block btn-outline btn-primary btn-xs" href="../Impresiones/printVericacionAdmisión?idVerificacion=@item.id" target="_blank">Imprimir Verificación</a>
                                    </p>
                                }

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Content/js/plugins/dataTables/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });
    </script>
}